.thumbnail-select-grid {
  display: grid;
  grid-gap: 0.3em;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fill, 260px);

  .thumbnail-item {
    padding: 1em;
    text-align: center;
    background-color: rgba(0, 0, 0, .07);

    .thumbnail > img {
      width: 100%;
    }
  }
}

#video-publisher-thumbnail {
  width: 60px;
}

.video-publisher-admin {
  .btn {
    display: inline-block;
    cursor: pointer;
    user-select: none;
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    text-decoration: none;
    color: #fff;
    background-color: #4638c2;
    border-color: #4638c2;
  }

  .btn-danger {
    background-color: #d16767;
    border-color: #d16767;
  }

  p.submit {
    margin-top: 0;
    padding-bottom: 0;

    input[type=submit] {
      background-color: #4638c2;
      padding: 0.1rem 0.75rem;
      border-radius: 0.25rem;
    }
  }

  .mt-20 {
    margin-top: 20px;
  }
}

.video-publisher-flex {
  display: flex;
}

.video-publisher-bold {
  font-weight: bold;
}

.video-publisher-mt-2 {
  margin-top: 0.75rem;
}

.video-publisher-ml-2 {
  margin-left: 0.75rem;
}