.thumbnail-select-grid {
  display: grid;
  grid-gap: 0.3em;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fill, 300px);

  .thumbnail-item {
    padding: 1em;
    text-align: center;
    background-color: rgba(0, 0, 0, .07);

    .thumbnail > img {
      width: 100%;
    }
  }
}

#video-publisher-thumbnail {
  width: 60px;
}

.video-publisher-admin {
  .login-box {
    border: 1px gray solid;
    padding: 10px;
    font-size: 1.2em;
  }
}