.isset-video-chart-container {
  padding: 10px;
  color: #eee;
  background-color: #32373c;
  padding-bottom: 20px;

  h2 {
    color: orange;
  }

  .isset-video-stats-container {
    margin-top: 31px;
    flex-direction: column;

    a {
      color: orange;

      &.isset-video-a-icon {
        text-decoration: none;
      }
    }
  }
}

.video-publisher-admin {
  padding-right: 20px;
}

.isset-video-overview-container {
  background-color: #464d52;
  padding: 10px;

  .isset-video-upload-btn {
    margin-right: 10px;
    background-color: #45a164;
  }
}


.isset-video-btn {
  display: inline-block;
  cursor: pointer;
  user-select: none;
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  text-decoration: none;
  color: #eee;
  background-color: #4638c2;
  border-color: #4638c2;

  &:hover, &:focus {
    color: #fff;
  }
}

.isset-video-btn-success {
  color: #5fae34;
  border: 1px solid #5FAE34;
}

.isset-video-h1-with-btn {
  line-height: 30px;
}

.isset-video-btn-danger {
  color: #ae3434;
  border: 1px solid #ae3434;
}

.isset-overview-delete {
  margin-right: 10px;
  border-width: 0px;
  line-height: 21px;
}

.isset-video-overview-table {
  border-collapse: collapse;
  color: #eee;

  a {
    color: orange;
    text-decoration: none;
  }

  th:nth-child(1) {
    width: 30px;
  }

  th:nth-child(3) {
    width: 140px;
  }

  th:nth-child(3) {
    width: 140px;
  }

  th:nth-child(4) {
    width: 100px;
  }

  th:nth-child(6) {
    width: 140px;
  }

  .isset-video-filename {
    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  tr:nth-child(even) {
    background-color: #23282C;
  }

  tr:nth-child(odd) {
    background-color: #32373c;
  }

  td {
    padding: 3px 0;
  }

  th {
    background-color: #23282C;
    padding: 10px 0;
  }

  video {
    border: 1px solid #32373cf0;
    background-color: #000;
    cursor: pointer;
  }

  input[type="checkbox"] {
    margin: 0 5px;
  }

  .isset-video-table-spacer {
    width: 10px;
  }
}

.isset-video-placeholder-container {
  height: 179px;

  .isset-video-thumb-placeholder {
    height: 168px;
    border: 0;
  }
}

.isset-video-thumb-placeholder {
  width: 300px;
  height: 160px;
  border: 1px solid #555;
  background-color: #111;
  color: orange;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .isset-video-icon-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    display: flex;
    flex-direction: column;

    .dashicons {
      width: auto;
      height: auto;
      font-size: 40px;
    }
  }
}

.thumbnail-select-grid {
  display: grid;
  grid-gap: 0.3em;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fill, 260px);

  .thumbnail-item {
    padding: 1em;
    text-align: center;
    background-color: rgba(0, 0, 0, .07);

    .thumbnail > img {
      width: 100%;
    }
  }
}

#video-publisher-thumbnail {
  width: 300px;
}

#video-publisher-duration {
  width: 70px;
}

#video-publisher-max-resolution {
  width: 100px;
}

.video-publisher-admin {
  .btn-danger {
    background-color: #d16767;
    border-color: #d16767;
  }

  .btn-inactive {
    background-color: #c9b9ec;
    border-color: #c9b9ec;
  }

  p.submit {
    margin-top: 0;
    padding-bottom: 0;

    input[type=submit] {
      background-color: #4638c2;
      padding: 0.1rem 0.75rem;
      border-radius: 0.25rem;
    }
  }

  .mt-20 {
    margin-top: 20px;
  }

  .iv-w-50 {
    width: 50%;
  }

  .iv-w-100 {
    width: 100%;
  }

  .iv-v-align-top {
    vertical-align: top;
  }

  .iv-t-align-left {
    text-align: left;
  }

  .isset-video-search-container {
    display: inline-block;
    position: relative;

    .dashicons {
      color: #444;
      position: absolute;
      right: 6px;
      top: 17px;

      &.isset-video-clear:hover {
        color: #f00;
      }
    }
  }
}

.video-publisher-flex {
  display: flex;
}

.video-publisher-flex-1 {
  flex: 1;
}

.video-publisher-flex-2 {
  flex: 2;
}

.video-publisher-flex-3 {
  flex: 3;
}

.video-publisher-flex-end {
  justify-content: flex-end;
}

.video-publisher-flex-between {
  justify-content: space-between;
}

.video-publisher-hidden {
  display: none;
}

.video-publisher-bold {
  font-weight: bold;
}

.video-publisher-m-0 {
  margin: 0;
}

.video-publisher-mt-2 {
  margin-top: 0.75rem;
}

.video-publisher-mt-2 {
  margin-top: 1rem;
}

.video-publisher-mb-0 {
  margin-bottom: 0;
}

.video-publisher-mb-2 {
  margin-bottom: 0.75rem;
}

.video-publisher-ml-2 {
  margin-left: 0.75rem;
}

.video-publisher-mr-2 {
  margin-right: 0.75rem;
}

.video-publisher-p-2 {
  padding: 0.75rem !important;
}

.video-publisher-text-white {
  color: #eee;
}

.video-publisher-inline-block {
  display: inline-block;
}

.video-publisher-thumbnail-stills {
  align-self: flex-start;
  height: auto;
  width: 100%;
  max-width: 300px;
}

.video-publisher-preview-video {
  height: auto;
  width: 100%;
  max-width: 300px;
  max-height: 160px;
}

.isset-video-thumbnail-th {
  width: 320px;
}

.isset-video-pointer {
  cursor: pointer;
}

.isset-video-search-input {
  padding-left: 8px;
  padding-right: 28px;
  height: 31px;
  margin-top: 12px;
  width: 400px;
}

.isset-video-pagination {
  li {
    display: inline-block;
    border-radius: 3px;
    margin-left: 8px;
    padding: 5px 11px;
    border: 1px solid #333;
    background-color: #23282C;

    &.active {
      background-color: orange;
      color: #23282C;

      a {
        color: #23282C;
      }
    }

    a {
      color: #eee;
      font-weight: bold;
      text-decoration: none;
    }
  }
}

.isset-video-overlay {
  background-color: rgba(200, 200, 200, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  display: flex;

  .isset-video-details {
    width: 1010px;
    background-color: #23282C;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 30px 30px;
    color: #eee;

    h1 {
      color: orange;
    }

    iframe {
      width: 610px;
      height: 343px;
    }

    .isset-video-close {
      position: absolute;
      top: 5px;
      right: 5px;
      cursor: pointer;

      &:hover {
        color: orange;
      }
    }

    .isset-video-stills-container {
      width: 610px;
      overflow-x: scroll;
      white-space: nowrap;

      img {
        margin-right: 5px;

        &.isset-video-default-image {
          border: 1px solid orange;
        }
      }

    }

    .isset-video-copytext-container {
      background-color: #333;
      padding: 10px;

      .dashicons {
        cursor: pointer;
      }
    }

    .isset-video-details-table {
      td {
        height: 28px;
      }

      width: 360px;
      margin-top: 49px;

      .isset-video-preset-container {
        span {
          display: inline-block;
          padding: 3px 5px;
          border: 1px solid orange;
          border-radius: 3px;
          margin-right: 4px;
        }
      }
    }
  }
}
