// Embeds responsive
//
// Credit: Nicolas Gallagher and SUIT CSS.

.video-publisher-video {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;

  .video-publisher-video-item,
  iframe,
  embed,
  object,
  video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border: 0;
  }


}

// Modifier class for 16:9 aspect ratio
.video-publisher-video-16by9 {
  padding-bottom: calc((9 / 16) * 100%);
}

// Modifier class for 4:3 aspect ratio
.video-publisher-video-4by3 {
  padding-bottom: 75%;
}

.video-js {
  .vjs-progress-control {
    .vjs-play-progress,
    .vjs-mouse-display {
      white-space: nowrap;
    }
  }
}

.video-publisher-deleted-video {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 300px;
  background-color: rgba(1, 1, 1, 0.1);
}

.video-player {
  position: relative !important;
  width: auto !important;
  height: 100% !important;
}

.vjs-chapter-bar {
  position: absolute;
  width: 100%;
  margin: 0 10px;
  top: 12px;
  height: 5px;

  .vjs-chapter-marker {
    position: absolute;
    height: 5px;
    background-color: orange;
    border-right: 2px solid white;
    opacity: 0.5;
    z-index: 1000;

    .vjs-chapter-marker-text {
      display: none;
      position: absolute;
      font-size: 14px;
      bottom: 9px;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      text-align: center;
    }

    &:hover {
      top: -2px;
      height: 9px;
      opacity: 1;

      .vjs-chapter-marker-text {
        display: block;

        span {
          display: inline-block;
          position: relative;
          white-space: nowrap;
          background-color: black;
          padding: 6px;

        }
      }
    }
  }
}
