.isset-video-stats-container {
    .isset-video-progressbar {
        width: 240px;
        margin: 4px 0;
    }
}


.isset-video-progressbar {
    background-color: rgba(200, 200, 200, 0.5);
    width: 100%;

    .isset-video-progressbar-progress {
        height: 5px;
        background-color: #0d66c2;
        width: 50%;
    }
}