{
    "presets": ["@babel/preset-react"],
    "plugins": [
        "@babel/plugin-proposal-class-properties",
        ["@wordpress/babel-plugin-makepot", {
            "output": "languages/isset-video-publisher-js.pot"
        }]
    ]
}