<div class="video-publisher-flex">
    <img class="video-publisher-thumbnail-stills" src="{{ poster }}" data-preview="{{ preview }}" data-stills='{{ assets|json_encode(constant('JSON_HEX_QUOT')) }}' />
    <video style="display: none" class="video-publisher-preview-video" muted loop><source src="{{ preview }}"></video>
</div>