<br>
{{ __("At this moment this video is still transcoding, this can take from 5 minutes to up to an hour, after that your video should be available here", "isset-video-publisher") }}
<hr>
{{ __('You can check the status of the transcoding <a href="%s">here</a>')|format(status.videoTranscoderUrl) }}