{{ render_admin_header() }}

<div class="wrap">
    <h1 class="wp-heading-inline">
        {{ __("Upload new video") }}
    </h1>
</div>

<div class="upload-container">
    <div class="phase-select">
        <input type="file">
        <button>Upload</button>
    </div>
    <div class="phase-upload">
        <div class="progress">
            <div class="bar"></div>
            <div class="indicator"></div>
        </div>
    </div>
    <div class="phase-done">

    </div>
</div>