{{ render_admin_header() }}

<div class="wrap">
    <h1 class="wp-heading-inline">
        {{ __("Upload new video") }}
    </h1>
</div>

<div class="card">
    <div class="upload-container">
        <div class="phase-select">
            <div class="phase-select-dropzone">
                <input accept="video/*" type="file">
                <p>Drag your file here or click in this area.</p>
            </div>
            <button class="btn">Upload</button>
            <span id="phase-select-file"></span>
        </div>
        <div class="phase-upload">
            Uploading:
            <div class="indicator"></div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 0;"></div>
            </div>
        </div>
        <div class="phase-done">

        </div>
    </div>
</div>
